html,body{
    margin: 0;
    padding: 0;

    height: 100%;
}
nav{
    background-color: black;
    padding: 2px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .nav-links ul{
    margin-right: 20px;
    list-style-type: none;
    margin: 20px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

}
nav .nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
}
nav .nav-login{
    background-color: black;
}
nav .nav-login a{
    text-decoration: none;
    color: aliceblue;

}
a:hover{
    background-color: darkgrey;

}
.secao{
    border: solid 1px rgb(189, 189, 189);
    height: 100%;
}
footer{
    background-color: black;
    color: snow;
    text-align: center;
    padding: 20px;
    /* permanecer fixo indempendente da rolagem da pagina */
    position: fixed;
    bottom: 0;
    /* largura */
    width: 100%;
}
form{
    background-color: beige;
    border-radius: solid 4px white;
    width: 303px;
    /* centraliza o formulario automaticamente no meio da pagina horizontalmente*/
    margin: auto;
    /* faz com que o form seja tratado como um bloco flexicivel */
    display: block;
    margin-top: 200px;
    padding: 20px;

}
input{
    /* largura relativa ao form */
    width: 90%;
    padding: 6px;
    margin-bottom : 8px;
    border: 1px solid rgb(197, 180, 180);
    border-radius: 5px;

}
.imagem {
        float: left;
   }
   p {
    text-align: justify;
    margin-bottom: 10px;
   }
   .secao {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
   }
   body{
    background-color: rgb(234, 234, 234);
   }
   .imagem img {
    width: 200px; 
    height: auto;
}
.nav-image img {
    width: 30%; 
    height: auto;
}
.video-container {
    position: relative;
    width: 50%; 
    padding-bottom: 28.125%; 
    margin: 0 auto;
  }
  
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

#insta a{
    color: white;
    text-decoration: none;
}

#imagem_ilu{
    text-align: center;
}